*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headname-2{
    margin-left: 202px;
    margin-top: 100px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    margin-left: 200px;
    margin-top: 69px;
    margin-right: 123px;
    margin-bottom: 100px;
}

.container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item-1{
    grid-column: span 2;
}

.item-5 {
    grid-row: span 2;
}

.item-6 {
    grid-column: span 2;
}

