*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.headname-3{
    font-size: 60px;
    width: 450px;
    height: 59px;
    margin-left: 202px;
    margin-top: 100px;
    font-weight: 200;
}

.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    margin-left: 200px;
    margin-top: 69px;
    margin-right: 123px;
    margin-bottom: 100px;
}

.container3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




