*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.headname-4{
    grid-column: span 2;
    font-size: 60px;
    font-weight: 100px;
    font-weight: 200;
    align-self: center;
}

.container-4{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 200px;
    gap: 20px;
    margin-left: 200px;
    justify-content: center;
    margin-top: 100px;
    margin-right: 123px;
    margin-bottom: 77px;
    
}

.container-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
